html {
  font-size: 62.5%;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
}
body {
  font-size: 1.8em;
  line-height: 3;
  background-color: #eeeeee;
}
h3 {
  font-size: 1.8em;
  margin-bottom: 3rem;
  line-height: 1.5;
  font-weight: 800;
}
p {
  margin-bottom: 1.5rem;
}
.site-container {
  max-width: 320px;
  margin: 10px auto;
  padding-left: 0.6em;
  padding-right: 0.6em;
  padding-top: 3%;
  padding-bottom: 3%;
}
@media screen and (min-width: 60.063em) {
  .site-container {
      max-width: 400px;
  }
}
.card {
  position: relative;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.24), 0 1px 18px 0 rgba(0,0,0,0.12);
  border-radius: 2px;
  padding: 1em 1.5em;
}
.form__wrapper {
  overflow: hidden;
  position: relative;
  z-index: 1;
  display: inline-block;
  margin-bottom: 1.6rem;
  width: 100%;
  vertical-align: top;
}
.form__wrapper__submit {
  padding: 1.6rem 0;
}
.form__input {
  display: block;
  position: relative;
  margin-top: 1em;
  padding: 0.84em 0;
  width: 100%;
  box-sizing: border-box;
  color: #444;
  font-size: 1.6rem;
  outline: 0;
  border: none;
  border-bottom: solid 1px #ddd;
}
.form__input:focus {
  background-position: 0 0;
  color: #444;
}
.form__label {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0;
  width: 100%;
  height: calc(99%);
  text-align: left;
  pointer-events: none;
  color: #999;
  transition-duration: 0.5s;
}
.form__label__content {
  position: absolute;
}


.btn {
  width: 100%;
  display: inline-block;
  padding: 0.7em 1.5em;
  border-radius: 2px;
  background-color: #2196f3;
  color: #fff;
  border: 0;
  outline: none;
  cursor: pointer;
  font-family: inherit;
  font-weight: 400;
  font-size: 1.6rem;
  box-shadow: 0 1px 3px 0 rgba(3,30,51,0.24), 0 1px 2px 0 rgba(3,30,51,0.12);
  transition: all 0.2s ease;
  /* 设置动画无限次播放 */
  animation-iteration-count:infinite;
}
.btn:focus,
.btn:hover {
  background-color: #0d8aee;
}



/* 分别用两个伪元素来实现下划线的无动画出现和有动画消失 */
.form__label:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: blue;
}
.form__input:focus+.form__label:after {
  width: 320px;
}
.form__label:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: blue;
  transition-duration: 0.8s;
}
.form__input:focus~.form__label:before {
  width: 320px;
}

